extends ../layout

block content
	div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contactbox1") 
		img(src="images/contact.png")
	div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contactbox2")
		img(src="images/contact2.png" style="width:80%")

		
