doctype html
html
	head
		title= title
		link(rel="stylesheet" href="font-awesome-4.7.0\css\font-awesome.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/layouts.css')
	body
		div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading1")  
			img(src="/images/name.png")
		div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12") 
			block content
			//iframe(src="http://crichd.tv/update/skys2.php" width="650" height="510" frameborder="0" allowfullscreen)
		footer
			div(class="row")
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
					div(class="footer")
						div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")     
							a(class="btn" href="/") Home
							a(class="btn" href="/aboutme") AboutMe
							a(class="btn" href="/myblog") My Blog
							a(class="btn" href="/myportfolio") My Portfolio
							a(class="btn" href="/contact") Contact Me
					