extends ../layout

block content
	.fluid-container
		div(class="row")
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading3") 
				h4 Welcome to My Blog 
				form.navbar-form.navbar-right(action='myblog/search', method='get')
					.form-group
						input.form-control(name='query', placeholder='Search blog posts')
						input.btn.btn-default(type='submit', value='search')
		div(class="row")
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				.list-group
					each post in posts
						a.list-group-item(href=`/myblog/${post.title}`)=post.title
								h5=date(post.updatedAt)
		div(class="row")
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading3")
				a.btn.btn-default.btn-primary(href="/myblog/new") New Post	
