body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	min-height: 625px;
	
	color:indianred;
}

.heading1 {
	text-align: center;
}

.blogshow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

.heading3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.profilepic	{
     width: 50%;
     border:1px red white;

}

.contactbox1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #292929;
	min-height: 450px;
}

.contactbox2,.aboutbox1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 450px;
	color: #292929;
}

.aboutbox2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #292929;
	min-height: 450px;
	color: white;
}


.portfoliobox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: space-between;

	color: indianred;
	margin-bottom: 15px;
	background: #87CEFA;
	border-bottom: solid 1px grey;
}

.portfoliotitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.portfoliotitle1{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	border:1px solid grey;
	border-radius: 10px;
	background: grey;
	color: white;
	padding:10px;
	margin:10px;

}

h5{
	font-size: small;
	color:indianred;
}

.portfoliobox1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	
	color: indianred;
	width: 750px;
	height: 350px;
}


.portfoliotitle {
	color:indianred;
	font-size: large;

}

.portfoliobody {
	color: black;	
}

.portfoliotech {
	color: darkgrey;
	font-size: small;
	
}