extends ../layout

block content
	div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 aboutbox1") 
		img(src="images/about.png")
	div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 aboutbox2")
		div(class="")
			h5 I am a Full Stack Developer from United States of America living in Philadelphia 
			p Learning about new technologies is my passion. My Curious mind wants to learns and understand how things work. Being a full Stack developer lets me develop and collabrate in cool stuff. 
		div(class="")
			h5 Education
			li Master In Computer Science from  Newyork Institute of Technology
			li Bachelors In Computer Science from D.Y. Patil College of Engg & Tech
		div(class="")
			h5 Certification
			li Certified Scrum Master from Scrum Alliance
			li Professional Scrum Master from Scrum.org
		div(class="")
			h5 Professional Experience
			li Merck & Co as Project Manager/Scrum Master
			li Almac Clinical Technologies as Sr. Business Analyst
			li Childrens Hospital of Philadelphia as Business Analyst
			li Barclays Bank Delaware as Business Analyst
			li Marsh & Mclennan as Test lead
			li Harleysville Insurance(bought by Nationwide Insurance) 

